<%- include('./partials/header') %>
    <a href="/products">Return to Store</a>     
    <h1><%= product.name %></h1>
    <div class="container">
        <img src="<%= product.img %>" alt="">
        <p><%= product.description %></p>
        <p>$<%= product.price %></p>        
        <% if (product.qty === 0) { %>
            <p>OUT OF STOCK</p>
            <button disabled="disabled">BUY</button>
        <% } else { %>
            <p><%= product.qty %> remaining</p>
            <form action="/products/<%= index %>?_method=PUT" method="POST">
            
                <button type="submit">BUY</button>
            </form>
        <% } %>
        <a href="/products/<%= index %>/edit">Edit this product</a>
    </div>
            
<%- include('./partials/footer') %>